# Pandas - Week 2

***

## Membalik urutan baris dan kolom pada Data Frame

### 1. Import Modules

In [3]:
import pandas as pd
import numpy as np

### 2. Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple("ABCDE")

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns = cols)

df

   A  B  C  D  E
0  9  9  3  3  3
1  8  2  5  8  1
2  1  2  1  3  7
3  4  4  6  3  5
4  3  5  8  3  8

Pada kode di atas, akan dibuat sebuah data frame dengan menjadikan angka random sebagai populasinya (mulai dari 1 sampai 10) dengan dimensi yang telah ditentukan dengan n_rows dan n_cols.

### 3. Membalik urutan kolom

In [8]:
df.loc[:, ::-1] #Input pertama untuk baris, sedangkan input kedua untuk mengatur kolom.

   E  D  C  B  A
0  3  3  3  9  9
1  1  8  5  2  8
2  7  3  1  2  1
3  5  3  6  4  4
4  8  3  8  5  3

Untuk membalik urutan kolom, dapat digunakan fungsi loc. Input pertama pada kode di atas berupa **":"** yang berarti menyertakan setiap baris, sedangkan input kedua berupa **"::-1"** yang dimana -1 berfungsi untuk mengatur stepper. Jika nilainya -1 maka akan dilakukan pembalik urutan

### 4. Membalik urutan baris

In [9]:
df.loc[::-1] #Karena hanya diperlukan untuk mengatur baris, maka input kedua tidak wajib disertakan.

   A  B  C  D  E
4  3  5  8  3  8
3  4  4  6  3  5
2  1  2  1  3  7
1  8  2  5  8  1
0  9  9  3  3  3

### 5. Membalik urutan baris dan melakukan penyesuaian ulang index.

In [10]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  3  5  8  3  8
1  4  4  6  3  5
2  1  2  1  3  7
3  8  2  5  8  1
4  9  9  3  3  3

Dengan kode di atas, saat dilakukan pembalikan urutan baris, hanya data point-nya saja yang terbalik, namun indexnya tetap berurutan dari 0.