# Pandas - Week 5

***

## Re-sampling pada data deret waktu (time series data)

### 1. Import modules

In [1]:
import pandas as pd
import numpy as np

### 2. Persiapan Data Frame

In [4]:
n_rows = 365 * 24 #merepresentasikan hari dan jam
n_cols = 2
cols =  ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H') #mengganti index menjadi bentuk date dengan frekuensi jam.
df

D:\Anaconda\lib\site-packages\pandas\util\__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00    14     8
2000-01-01 01:00:00     3     8
2000-01-01 02:00:00     5     9
2000-01-01 03:00:00    17    17
2000-01-01 04:00:00     2     1
...                   ...   ...
2000-12-30 19:00:00     3     1
2000-12-30 20:00:00     7    19
2000-12-30 21:00:00     3     6
2000-12-30 22:00:00    14    19
2000-12-30 23:00:00     8     8

[8760 rows x 2 columns]

### 3. Re-sampling data dengan interval monthly (perbulan)

In [6]:
df.resample('M')['col1'].sum().to_frame() #Penggunaan to_frame() untuk menghasilkan output yang lebih mudah dibaca.

            col1
2000-01-31  7523
2000-02-29  7038
2000-03-31  7569
2000-04-30  7179
2000-05-31  6885
2000-06-30  7218
2000-07-31  7289
2000-08-31  7166
2000-09-30  7227
2000-10-31  7436
2000-11-30  7587
2000-12-31  7246

Resampling data dapat dilakukan dengan method `resample()`. Dalam kasus diatas, akan dilakukan resampling terhadap kolom 1 dengan interval perbulan / monthly.

### 4. Re-sampling data dengan interval daily

In [7]:
df.resample('D')['col1'].sum().to_frame()

            col1
2000-01-01   217
2000-01-02   275
2000-01-03   217
2000-01-04   195
2000-01-05   213
...          ...
2000-12-26   234
2000-12-27   215
2000-12-28   252
2000-12-29   255
2000-12-30   222

[365 rows x 1 columns]

Untuk melakukan resampling dengan interval daily, cukup ganti parameter pertama dari method `resample()` dengan `D`.