# Pandas - Week 8

***

# Random Sampling pada Pandas Data Frame

## Import modules

In [1]:
import pandas as pd

## Persiapan Data Frame

In [2]:
d = {'col_1':[1, 2, 3, 4, 5],
     'col_2':[10, 20, 30, 40, 50]}

df = pd.DataFrame(d)
df

   col_1  col_2
0      1     10
1      2     20
2      3     30
3      4     40
4      5     50

## Random sampling with / without replacement

In [3]:
df.sample(n=4, replace=False, random_state=0) # random sampling without replacement.

   col_1  col_2
2      3     30
0      1     10
1      2     20
3      4     40

In [4]:
df.sample(n=4, replace=True, random_state=0) # random sampling with replacement.

   col_1  col_2
4      5     50
0      1     10
3      4     40
3      4     40

Random sampling tanpa replacement berarti data-data yang sudah di sampling tidak akan disampling lagi, sedangkan random sampling dengan replacement berarti data yang sudah disample memiliki kemungkinan untuk di-sampling ulang. 

Untuk menentukan apakah akan dilakukan replacement atau tidak adalah dengan memberikan nilai `True` atau `False` pada parameter `replace`.

`random_state` berfungsi agar suatu eksperimen dapat direplikasi atau dijalankan ulang dengan hasil yang sama.

***

# Akses nilai variable dalam fungsi query

## Import modules

In [5]:
import pandas as pd
import numpy as np

## Persiapan Data Frame

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns = cols)

df

    A   B   C   D   E
0  18   6   5  15  11
1   1  14  16   8  12
2   5  12  13  19   1
3  19  13   6  18   5
4   4  14  17  14   6

## Akses nilai variable pada `query()`

In [8]:
df.query('A > 5')

    A   B  C   D   E
0  18   6  5  15  11
3  19  13  6  18   5

In [9]:
rerata = df['A'].mean() # mencari nilai mean dari kolom A.
rerata

9.4

In [12]:
df.query('A > @rerata') # karakter '@' untuk mengakses variable.

    A   B  C   D   E
0  18   6  5  15  11
3  19  13  6  18   5

Pada kode di atas, dispesifikasikan bahwa akan ditampilkan data dari kolom A yang lebih besar dari variable `rerata`.