# Pandas - Week 14

***

# Membuat kategori baru menurut treshold (ambang batas)

## Import modules

In [1]:
import pandas as pd

## Persiapan Data Frame

In [2]:
d = {'hobi':['jogging', 'mancing', 'renang', 'mancing', 'mancing', 'baca',
            'baca', 'mancing', 'fotografi', 'mancing', 'camping']}

df = pd.DataFrame(d)

df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotografi
9     mancing
10    camping

## Membuat kategori baru berdasarkan threshold (ambang batas)

In [3]:
df['hobi'].value_counts() # menampilkan banyak data yang ada.

mancing      5
baca         2
jogging      1
fotografi    1
camping      1
renang       1
Name: hobi, dtype: int64

In [5]:
persentase = df['hobi'].value_counts(normalize=True) # menampilkan persentasenya.
persentase

mancing      0.454545
baca         0.181818
jogging      0.090909
fotografi    0.090909
camping      0.090909
renang       0.090909
Name: hobi, dtype: float64

In [6]:
threshold = 0.1

hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'fotografi', 'camping', 'renang'], dtype='object')

Penggunaan `index` digunakan karena ingin menyimpan nilai label, bukan nilai persentasenya.

In [7]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

Kode di atas akan menggantikan hobi `jogging`, `fotografi`, `camping`, dan `renang` akan diubah menjadi string `lainnya`.

In [8]:
df['hobi'].value_counts(normalize=True)

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64

***

# Menyimpan Data Frame sebagai file CSV

## Import modules

In [9]:
import pandas as pd

## Persiapan Data Frame

In [10]:
data = {'nama':['bayu', 'indra', 'devi', 'agni'],
       'jenis_kelamin':['L', 'L', 'P', 'L'],
       'usia':[23, 21, 22, 25]}

df = pd.DataFrame(data)

df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

## Menyimpan Data Frame sebagai CSV

In [15]:
df.to_csv('data_peserta.csv')

In [16]:
df  = pd.read_csv('data_peserta.csv', index_col=0)


df

             nama jenis_kelamin  usia
Unnamed: 0
0            bayu             L    23
1           indra             L    21
2            devi             P    22
3            agni             L    25

In [17]:
df.to_csv('data_peserta.csv', index=False) # membuat file csv tanpa menyertakan index.

df = pd.read_csv('data_peserta.csv')

df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

Method `to_csv` akan menyimpan index secara default. Jika tidak ingin menyertakan index dalam csv, maka perlu dispesifikasikan parameter `index` sebagai `False`.