# Pandas - Week 4

***

## Konversi nilai numerik ke dalam kategori pada Data Frame

### 1. Import modules

In [1]:
import pandas as pd
import numpy as np

### 2. Persiapan Data Frame

In [6]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols)
df

   usia
0    51
1    30
2     9
3    95
4    33
5     2
6    86
7    21
8    28
9    94

### 3. Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan `cut()`

In [19]:
df['kelompok_usia'] = pd.cut(df['usia'],
                            bins = [0, 18, 65, 99],
                             labels = ['anak', 'dewasa','manula'])

df

   usia kelompok_usia
0    51        dewasa
1    30        dewasa
2     9          anak
3    95        manula
4    33        dewasa
5     2          anak
6    86        manula
7    21        dewasa
8    28        dewasa
9    94        manula

Pada kode di atas, digunakan fungsi `cut()` dengan tiga parameter yang harus dispesifikasi. Pertama adalah **kolom** yang akan di cut, dan kedua adalah **bins** (list yang berisi nilai integer sebagai pembatas), dan **label** untuk setiap kelompoknya.