# Pandas - Week 13

***

# Seleksi kolom dengan `f-string`

## Import modules

In [1]:
import pandas as pd

## Persiapan Data Frame

In [3]:
df = pd.read_csv('./data/iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Seleksi kolom dengan `f-string`

In [4]:
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [5]:
part = 'Sepal'

df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

Kode di atas adalah contoh penggunaan f-string untuk nama kolom.

In [6]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [7]:
part = 'Petal'

df[[f'{part}WidthCm', f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

***

# Membuat kolom baru dengan `for loop` dan `f-string`

## Import modules

In [8]:
import pandas as pd

## Persiapan Data Frame

In [9]:
d= {'penjual':['bejo', 'tejo', 'wati', 'bejo', 'cecep', 'tejo', 'wati', 'bejo'],
   'barang':['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df = pd.DataFrame(d)

df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

## Membuat kolom baru dengan `for loop` dan `f-string`

In [10]:
cols = ['penjual', 'barang']

for col in cols:
    df[f'count_tiap_{col}'] = df.groupby(col).cumcount() + 1
    
df

  penjual    barang  count_tiap_penjual  count_tiap_barang
0    bejo   monitor                   1                  1
1    tejo   monitor                   1                  2
2    wati  keyboard                   1                  1
3    bejo     mouse                   2                  1
4   cecep  keyboard                   1                  2
5    tejo   monitor                   2                  3
6    wati    laptop                   2                  1
7    bejo   monitor                   3                  4

Kode di atas adalah contoh penggunaan for loop dan f-string untuk membuat kolom baru. Pada tabel tersebut, akan dibuat kolom baru berupa count tiap penjual dan barang.

***

# Seleksi baris dengan `between()`

## Import modules

In [11]:
import pandas as pd
import numpy as np

## Persiapan Data Frame

In [12]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns = cols)

df

   A  B  C  D  E
0  7  2  9  4  9
1  3  3  6  4  4
2  5  4  3  8  7
3  4  1  7  9  3
4  7  2  1  9  5
5  2  3  4  6  8
6  7  8  9  5  4
7  2  9  3  8  8
8  2  5  3  8  8
9  5  9  9  6  8

## Seleksi baris dengan `between()`

In [13]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
1  3  3  6  4  4
2  5  4  3  8  7
3  4  1  7  9  3
5  2  3  4  6  8
7  2  9  3  8  8
8  2  5  3  8  8
9  5  9  9  6  8

Kode di atas berarti akan melakukan seleksi baris dari kolom A yang memiliki nilai mulai dari 2 sampai dengan 5.

Method `between()` sendiri bersifat inclusive.

In [14]:
df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
1  3  3  6  4  4
3  4  1  7  9  3

Dengan menspesifikasikan bahwa `inclusive` bernilai `False`, maka nilai 2 dan 5 tidak akan disertakan.