# Pandas - Week 8

***

# Random Sampling pada Pandas Data Frame

## Import modules

In [1]:
import pandas as pd

## Persiapan Data Frame

In [2]:
d = {'col_1':[1, 2, 3, 4, 5],
     'col_2':[10, 20, 30, 40, 50]}

df = pd.DataFrame(d)
df

   col_1  col_2
0      1     10
1      2     20
2      3     30
3      4     40
4      5     50

## Random sampling with / without replacement

In [3]:
df.sample(n=4, replace=False, random_state=0) # random sampling without replacement.

   col_1  col_2
2      3     30
0      1     10
1      2     20
3      4     40

In [4]:
df.sample(n=4, replace=True, random_state=0) # random sampling with replacement.

   col_1  col_2
4      5     50
0      1     10
3      4     40
3      4     40

Random sampling tanpa replacement berarti data-data yang sudah di sampling tidak akan disampling lagi, sedangkan random sampling dengan replacement berarti data yang sudah disample memiliki kemungkinan untuk di-sampling ulang. 

Untuk menentukan apakah akan dilakukan replacement atau tidak adalah dengan memberikan nilai `True` atau `False` pada parameter `replace`.

`random_state` berfungsi agar suatu eksperimen dapat direplikasi atau dijalankan ulang dengan hasil yang sama.